<ul class="list-group">
    <li class="list-group-item list-group-item-secondary text-black-50">
        Bryson's Faves
    </li>
    <li class="list-group-item">
      <button class="btn btn-link" (click)="promisesAsThenables()">
      Promises as "thenables"
      </button>
      <button class="btn btn-link" (click)="promisesWithAsyncAwait()">
        Promises with async/await and try/catch
      </button>
      <button class="btn btn-link" (click)="promisesFun()">
        Promises fun!!!
      </button>
    </li>
    <li class="list-group-item bg-light">
      <p>
        Fave Count: {{ faveCount() }}
      </p>
      <p>

        Fun Fact: Fave People Height compared to Bryson's Height
      </p>
      @if (faveCount() === 0) {
        <p>Favorites not selected, Nothing to compare</p>
      } @else {
        <p>{{ sortHeight() }}</p>
      }
      <p>
        <input type="text" class="form-control form-control-sm mb-1" placeholder="Who are you?" [(ngModel)]="who">
        <button class="btn btn-link p-0" (click)="postToMSTeams()">
          Post to MS Teams
        </button>
      </p>
    </li>
    @if (people().length > 0) {
      @for (p of people(); track p) {
        <li class="list-group-item">
          <input class="form-check-input me-3" type="checkbox" [checked]="p.checked" (change)="toggleChecked(p)" [id]="p.name">
          <label class="form-check-label stretched-link" [for]="p.name">
            {{ p.name }}
          </label>
        </li>
    }
} @else {
  <li class="list-group-item list-group-item-info">
    Loading...
  </li>
}
</ul>
